<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Northwind.Helpers.Properties.Configuration.ConnectionPath"
            connectionString="Data Source=DESKTOP-8EEUQ9G\SQLEXPRESS;Initial Catalog=NBUY_REF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>